body {
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    border-radius: 10px;
    border: 2px solid #C4C4C4;
    overflow: hidden;
}

.yellow {
    width: 100%;
    height: 35px;
    background-color: #FFDC40;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
}
.sorted{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.additional input {
    padding: 5px 3px;
    border-radius: 6px;
    margin-left: 5px;
    border: 1px solid gray;
}
.remove-text {
    border-radius: 50%;
    padding: 6px 8px;
    color: #c3c3c3;
    background-color: white;
    border: 1px solid #c3c3c3;
    cursor: pointer;
    transition: .2s;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-text:hover {
    background-color: #9953F1;
    color: white;
}

.ending {
    background-color: #833AE0;
    border-radius: 20px;
    width: 150px;
    color: white;
    overflow: hidden;
    margin: 20px auto;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.plus {
    padding: 8px 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    background-color: #9953F1;
    transition: .2s;
}


.todo,
button {
    border: none;
    outline: none;
}

.sortAdd {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0 auto;
    gap: 10px;
}

.addToDo {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    width: 100%;
    margin: 0 auto;
    transition: all 0.3s ease;
}

ul .list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul .list div:first-child{
    word-break: break-word;
}
ul {
    width: 298px;
    display: none;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    overflow: hidden;
}
.todosNum{
    display: flex;
    gap: 5px;
}
.xmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    padding: 5px 8px;
    margin-right: 18px;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
    color: #c3c3c3;
    font-size: 12px;
    transition: .2s;
}

.xmark:hover {
    background-color: #9953F1;
    color: white;
}

.sortIcons {
    margin: 0 0 5px 0;
    text-align: end;
    padding-right: 5px;
    color: gray;
    transition: .2s;
}

.sortIcons:hover {
    color: black;

}

.sortIcons i:last-child {
    display: none;
}